body {
	color: black;
	margin: 0px;
	padding: 0px;
}

.default-label {
	color: black;
	border: 2px black solid;
	text-align: center;
	padding: 30px 5px 30px 5px;
}

.default-label h1{
	font-size: 20px;
	text-transform: uppercase;
	word-wrap: break-word;
	word-break: normal;
}

.default-label h2{
	text-transform: uppercase;
	font-size: 18px;
	max-width: 170px;
	word-wrap: break-word;
	word-break: normal;
}

.default-label h3 {
	font-size: 12px;
	max-width: 170px;
	word-wrap: break-word;
	word-break: normal;
}

.default-label p {
	font-size: 10px;
	margin-bottom: 0px;
	width: 170px;
	position: absolute;
	bottom: 20px;
	left:50%;
	margin-left: -85px;
	max-width: 95vw;
	word-wrap: break-word;
	word-break: normal;
}

.shell {
	background-color: orange;
}
.affix {
	margin: 0px;
	background-color: orange;
	height: 100%;
	margin-left: -15px;
}


#properties {
	display: block;
	background-color: orange;
	z-index: 1000;
	position:relative;
	left: 0px;
	padding: 20px 10px 25px 10px;
	height: 100vh;
	width: 100%;
	
	-webkit-box-shadow: 0px 1px 18px 2px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 1px 18px 2px rgba(0,0,0,0.27);
	box-shadow: 0px 1px 18px 2px rgba(0,0,0,0.27);
}



input {
	width: 100%;
}
@media screen  {
	
	body {
		background-color: #E4E4E4;
	}
}

@media (min-width: 990px) {
	#labels {
	background-color: transparent;
	border-radius: 0px;
	margin-left:0px;
	position: relative;
	top:50px;
	}
	
	.default-label {
		height: 285px;
		width: 170px;
		text-align:center;
		margin: 3px;
		background-color: white;
	}
	
}

@media print { 

	body {
		margin: 0px;
		padding: 0px;
	}

	#properties, .navbar { 
		display: none !important; 
	}

	@page {
		margin: 0.10cm;
	}
	
	#labels {
		width: 100%;
	}
	
	.default-label {
		height: 285px;
		width: 170px;
	}
	
	div {page-break-inside: avoid;}
	
}

.row {
	margin: 0px;
}

.navbar {
    position: fixed;
	top: 0px;
	right: 0px;
    min-height: 50px;
    margin-bottom: 0px;
	border-radius: 0px;
	z-index: 500;
}

.btn {
	margin-right: 15px;
}

.container-fluid {
	padding: 0px;
	margin: 0px;
}